@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body, button, input {
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: $gray100;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
